.event {
  margin-right: 25px;
}

.root {
  max-width: 345px;
}

.marginTen {
  margin-top: 10px;
}

.fontBold {
  font-weight: 600;
}

.premiumStyle {
  position: absolute;
  color: yellow;
  top: 8px;
  left: 89%;
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}

.displayFlex {
  display: flex;
}

.justifyContent {
  justify-content: space-between;
}

.locationStyle {
  margin-left: -5px;
}

.eventDates {
  padding: 5px;
}

.eventDateWrapper {
  width: 100px;
}

.eventDetails__footer {
  margin: 0 8px 5px 5px;
}
